$colorNav: rgb(154, 80, 228);
$tamañoLinksNav: 100%;
$colorLinksNav: rgb(62, 16, 99);
$fuenteLetra: 'Roboto', sans-serif;
$colorNombresChatActual: rgb(90, 14, 121);
$colorBgBoton: aliceblue;
$colorLetraBtn: rebeccapurple;
$colorBgContenedor: rgb(154, 154, 230);