.contenedor {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 2%;
    justify-content: center;
    width: 98%;
    background-color: $colorBgContenedor;
    border: 2px solid $colorNav;
    border-radius: 10px;
    @include xlarge {
        flex-direction: row;
        height: 500px;
        width: 70%;
    }
    @include large {
        flex-direction: row;
        height: 500px;
        width: 70%;
    }
    @include medium {
        flex-direction: row;
        height: 500px;
        width: 70%;
    }
    @include small {
        width: 70%;
    }
}
#btn-desplegarChats {
    margin: 2%;
    @include xlarge {
        display: none;
    }
    @include large {
        display: none;
    }
    @include medium {
        display: none;
    }
}